<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Total Item:
<table>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td><a th:href="@{/edit/{id}(id=${item.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${item.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>